

.parent{
    display: flex;
    flex-direction: row;
    width: 400px;
    border: 4px solid black;
    flex-wrap: wrap;
 


}

.item {
    border: 1px solid;
    opacity: 0.9;
    width: 150px;
    height: 100px;
    background: #09f;

    
}
.item:first-child{
    background: yellow;
}
.item:nth-child(4){
    background:inherit;
}
.item:last-child{
    background: red;
}