
body{
    margin-top: 0px;
}
section{
    display: flex;
    text-align: center;
    background: red;
    color: white;
    font-size: 20px;
    width: 400px;
    height: 50px;
    text-transform: uppercase;
    margin-left: 35%;
    margin-top: 0px;
  
    

 


}

.item {
    /*border: 1px solid;*/
    opacity: 0.9;
    padding: 10px;
   
    background: red;

    
}
.item:first-child{
    background: inherit;
}
.item:nth-child(2){
    background: inherit;
}
.item:last-child{
    background: inherit;
}